<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% comment %} <a href="/articles/index/">Article Index Page</a>
  <a href="/articles/index/@abc/100">Article ABC 100글 링크</a>
  <a href="/boards/">Boards Index page</a> {% endcomment %}
  <a href="{% url 'articles:index' %}">Article Index Page</a>
  <a href="{% url 'articles:detail' '@abc' '11' %}">Article ABC 100글 링크</a>
  <a href="{% url 'boards:index' %}">Boards Index page</a>
  <h1>공통 사용 base.html</h1>
  <hr>
  {% block content %}
  {% endblock content %}
</body>
</html>